doctype html
html
  head
    title Main Page
  body
    ul
      li
        a(href='login') Login
      li
        a(href='package-update') Package Update
      li
        a(href='report') Report
      li
        a(href='search') Search
      li
        a(href='user-update') User Update